<div id="nav" data-nav="true">
  <nav>
    <div class="nav-bar">
      <a class="button" 
        routerLink="/login"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        (click)="toggleMenu()">
        <fa-icon icon="right-to-bracket"></fa-icon>
      </a>
      <a class="button" 
        routerLink="/signup"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        (click)="toggleMenu()">
        <fa-icon icon="right-from-bracket"></fa-icon>
      </a>
      <a class="button" 
        routerLink="/home"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        (click)="toggleMenu()">
        <fa-icon icon="house"></fa-icon>
      </a>
      <a class="button" 
        routerLink="/cacheform"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        (click)="toggleMenu()">
        <fa-icon icon="file-lines"></fa-icon>
      </a>
      <a class="button" 
        routerLink="/classement"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
        (click)="toggleMenu()">
        <fa-icon icon="ranking-star"></fa-icon>
      </a>
    </div>
  </nav>

  <button id="menu-toggle" type="button" (click)="toggleMenu()">
    <fa-icon class="open" icon="bars"></fa-icon>
    <fa-icon class="close" icon="xmark"></fa-icon>
  </button>
<div>
