<body>
    <h1>Classement</h1>
    <div class="podium">
        <div class="user" *ngFor="let item of player; let i = index">
            <div class="pseudo" *ngIf="i < 3">{{ item.email }}</div>
            <div class="score" *ngIf="i < 3">Score : {{ item.len }}</div>
        </div>
    </div>

    <div class="top10">
        <li *ngFor="let item of top10; let i = index">
            <span class="top-user">{{ item.email }}</span>
            <span class="top-score">Score : {{ item.len }}</span>
        </li>
    </div>
    <app-navbar></app-navbar>
</body>