<body>
    <section>
        <div class="row">
            <div class="box">
                <form [formGroup]="angForm" (ngSubmit)="onSubmit()">
                    <h1>Geocacher</h1>
                    <h1>Login</h1>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="login" formControlName="email" required>
                        <label for="">Email</label>
                    </div>
                    <div *ngIf="submitted && email?.errors" class="alert">
                        <div *ngIf="email?.errors?.['required']" class="error">Email is required</div>
                        <div *ngIf="email?.errors?.['email']" class="error">Email must be a valid email address</div>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" formControlName="password" required>
                        <label for="">Password</label>
                    </div>
                    <div *ngIf="submitted && password?.errors" class="alert">
                        <div *ngIf="password?.errors?.['required']" class="error">Password is required</div>
                    </div>
                    <input type="submit" name="submit" value="login">
                    <div>
                        <div *ngIf="submitted" class="alert">
                            <div *ngIf="gtoken === ''" class="error">
                                Email or password invalid
                            </div>
                        </div>
                    </div>
                    <div class="register">
                        <p>No Account yet ? <a class="button" routerLink="/signup" routerLinkActive="activebutton"
                                ariaCurrentWhenActive="page">Click Here</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <app-navbar></app-navbar>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>