<body>
    <div class="row">
        <div class="box">
            <form [formGroup]="angForm" (ngSubmit)="onSubmit()">
                <h1>Geocacher</h1>
                <h2>Login</h2>
                <input type="text" placeholder="email" name="login" formControlName="email">
                <div *ngIf="submitted && email?.errors" class="alert">
                    <div *ngIf="email?.errors?.['required']" class="error">Email is required</div>
                    <div *ngIf="email?.errors?.['email']" class="error">Email must be a valid email address</div>
                </div>
                <input type="password" placeholder="password" name="password" formControlName="password">
                <div *ngIf="submitted && password?.errors" class="alert">
                    <div *ngIf="password?.errors?.['required']" class="error">password is required</div>
                </div>
                <input type="submit" name="submit" value="login">
                <div>
                    <div *ngIf="submitted" class="alert">
                        <div *ngIf="gtoken === ''" class="error">
                            email or password invalid
                        </div>
                    </div>
                </div>
                <p>No Account yet ? <a class="button" routerLink="/signup" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Click Here</a></p>
            </form>
        </div>
    </div>
</body>

