<body>
    <div class="container">
        <h2>ADD CACHE</h2>
        <form [formGroup]="angForm">
            <mat-form-field hintLabel="Max 20 characters" appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput #input maxlength="20" type="text" formControlName="title" >
            </mat-form-field>
            <mat-form-field hintLabel="Max 250 characters" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput #textarea maxlength="250" class="desc" formControlName="description" style="height: 200px; resize:none;"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Difficulty</mat-label>
                <mat-select class="selectdiff" value="" formControlName="difficulty" required>
                    <mat-option value="">Select Option</mat-option>
                    <mat-option value="Easy">Easy</mat-option>
                    <mat-option value="Normal">Normal</mat-option>
                    <mat-option value="Hard">Hard</mat-option>
                    <mat-option value="Hell">Hell</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="line">
                <mat-form-field appearance="outline">
                    <mat-label>Latitude</mat-label>
                    <input matInput type="text" formControlName="latitude">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Longitude</mat-label>
                    <input matInput type="text" formControlName="longitude">
                </mat-form-field>
            </div>
            <div class="sub" *ngIf="gmodify == 1">
                <button mat-stroked-button style="width: 50%; background: white; border: solid 1px black" (click)="onSubmit()" >submit</button>
            </div>
            <div class="sub" *ngIf="gmodify == 0">
                <button mat-stroked-button style="width: 50%; background: white; border: solid 1px black" (click)="validate()">valided ?</button>
            </div>
            <div class="sub" *ngIf="gmodify == -1">
                <button mat-stroked-button style="width: 50%; background: green; border: solid 1px black" disabled="true">valided</button>
            </div>
        </form>
    </div> 
    <app-navbar></app-navbar>
</body>
